body {
    margin: 0;
    padding: 0;
    background-image: url('./1640875180_1-abrakadabra-fun-p-tekstura-dereva-visokogo-razresheniya-3.jpg');
}
header {
    width: 70vw;
    padding-top: 1vw;
    position: relative;
}
main {
    padding-bottom: 1vw;
}
h1 {
    color: rgb(23, 16, 216);
}
h2 {
    color: blueviolet;
}
.persen, .contfoto_foto, .skills, .project, .experience, .education {
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255);
}
.table {
    background-image: url('./1640875180_1-abrakadabra-fun-p-tekstura-dereva-visokogo-razresheniya-3.jpg');
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
}
.sheet {
    padding-top: 5vw;
}
.contCircleUp {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    width: 15vw;
    height: 30vw;
}
.circleUp {
    border-radius: 50%;
    width: 35vw;
    height: 35vw;
    background-color: aqua;
    position: absolute;
    top: -12vw;
    left: -20vw;
}
.sheet {
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 60vw;
    margin: 1vw auto;
    padding: 0;
}

.flex_cont {
    display: flex;
    margin: 1vw 2vw ;
}
.persen {
    width: 33vw;
    float: left;
    padding: 0.5vw;
    height: 12vw;
    position: relative;
    border-radius: 1vw;
    background-color: white;
}
.left_border > * {
    margin: 0.2vW;
    height: 1.5vw;
}
.persen_whishedPosition {
    height: 2vw;
    margin: 0;
    padding: 0;
}
.left_border {
    border-left: 5px solid aqua;
    margin: 0.5vw;
    padding: 0 0.5vw;
    height: 9vw;

}
.persen_github {
    margin: 0;
    height: 1.6rem;
}
.person_linkGitHub {
    display: inline-block;
    border-radius: 1vw;
    background-color: aqua;
    height: 1.5rem;
    width: 8vw;
    border: 1px solid beige;
    text-align: center;
    vertical-align: bottom;
    padding-top: 0.1vw;
}
.person_linkGitHub a {
    color: black;
    text-decoration: none;
}
.person_linkGitHub:hover a{
    color: white;
}
.contfoto {
    width: 25vw;
    height: 13vw;
    margin: 0;
}
.contfoto_foto {
    position: relative;
    right: 0;
    height: 13vw;
    width: 10vw;
    border-radius: 1vw;
    margin-left: 12vw;
}
.skills {
    width: 20vw;  
    height: 12vw;
    margin: 0.1vw 0;
    padding: 0.7vw 2vw;
    border-radius: 1vw;
    position: relative;
}
.conteinerSkills {
    display: flex;
    flex-direction: column;
    width: 13vw;
    flex-wrap: wrap ;
    height: 8vw;
    border-left: 5px solid aqua;
    margin: 0.5vw;
    padding: 0 0.5vw;
}
.project {
    width: 28vw;
    margin: 0.1vw 0 0.1vw 3vw ;
    height: 12vw;
    padding: 0.7vw 2vw;
    border-radius: 1vw;
    position: relative;
}

.leftBorderProjectd {
    border-left: 5px solid aqua;
    margin: 0.5vw;
    padding: 0 0.5vw;
    height: 8vw;
}
.projectTechnologies {
    width: 27vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 7vw;
}
.skillbox {
    display: flex;
    width: 8vw;
}
.skill_JS, .skill_HTML, .skill_CSS, .skill_React,
.skill_Redux, .skill_SCSS, .skill_YT, .skill_TLG,
.skill_Adaptive, .skill_AJAX, .skill_other, .skill_GIT, 
.skill_GitHub, .skill_BAM, .skill_TS, .skill_1С {
    display: inline-block;
    margin: 0.3vw;
    box-shadow: 5px;
    opacity: 0.9;
    width: 0.5vw;
    height: 0.5vw;
}
.project_button {
    display: inline-block;
    border-radius: 1vw;
    background-color: aqua;
    height: 1.5rem;
    width: 8vw;
    border: 1px solid beige;
    text-align: center;
    vertical-align: bottom;
    padding-top: 0.1vw;
}

.project_button:hover {
    color: white;
}
.project_link {
    font-size: small;
}

.skill_JS {
    background-color: rgb(234, 209, 83);
}
.skill_HTML {
    background-color: rgb(230, 104, 73);
}
.skill_CSS {
    background-color: rgb(22, 66, 222);
}
.skill_React {
    background-color: rgb(59, 140, 234);
}
.skill_Redux {
    background-color: rgb(69, 43, 218);
}
.skill_SCSS {
    background-color :rgb(220, 66, 181);
}
.skill_BAM {
    background-color: rgb(22, 155, 222);
}
.skill_TS {
    background-color: rgb(22, 66, 222);
}
.skill_AJAX {
    background-color: rgb(13, 47, 221);
}
.skill_GIT {
    background-color: rgb(198, 103, 79);
}
.skill_1С {
    background-color: rgb(234, 209, 83);
}
.skill_YT {
    background-color: rgb(227, 48, 41);
}
.skill_TLG {
    background-color: rgb(33, 115, 230);
}
.skill_GitHub {
    background-color: rgb(12, 12, 13);
}
.skill_other {
    background-color: rgb(60, 60, 63);
}
.experience {
    padding:  0.7vw 2vw;
    width: 25vw;
    height: 19vw;
    border-radius: 1vw;
    position: relative;
}
.position {
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 16vw
}
.positionName {
    float: left;
}
.responsibilities {
    width: 26vw;
    float: right;
    border-left: 5px solid aqua;
    margin: 0.5vw;
    height: 10vw;
}
.responsibilities_list {
    margin: 0.5vw;
    padding: 0;
}

.project_name {
    margin: 0;
}

.education_scholl, .education_speciality {
    margin: 0;
}

.education {
    padding: 0.7vw 1vw;
    width: 25vw;
    margin-left: 2.5vw;
    height: 19vw;
    border-radius: 1vw;
    position: relative;
}
.education_speciality {
    float: right;
    border-left: 5px solid aqua;
    margin: 1vw;
    padding: 0 0.5vw;
    height: 2.5vw;
}
.education_sertificats {
    border-left: 5px solid aqua;
    width: 18vw;
    margin: 1vw;
    padding: 0 0.5vw;
    height: 2.5vw;
}
.contCircleDown {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    width: 15vw;
    height: 15vw;
    right: 0;
    bottom: 0;
}

.circleDown {
    border-radius: 50%;
    width: 35vw;
    height: 35vw;
    background-color: aqua;
    position: absolute;
}